@charset "utf-8";

/* css는 부모를 핸들링할수 없음 */
/* (*ㅡ) 는 관련 주석 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333; /* 기본텍스트 컬러 */
}
#layout{
    margin: auto;
    max-width: 1200px; /* 전체 넓이 */
    max-height: 700px; /* 전체 높이 */
}
h1{    display: none;   }

/* ㅡㅡㅡㅡ header(헤더영역) ㅡㅡㅡㅡ */
header{
    height: 100px;
    display: flex; /* header 아래 자식요소 가로정렬을 위한 속성 */
    padding-top: 20px; /* 상단 내부 여백 */
}
header>a{ /* 로고 */
    margin-left: 20px; /* 로고가 왼쪽에 너무 붙어있어서 살짝 안쪽으로 옮김 */
}
header ul{
    flex: 1;
    display: flex; /* li 가로정렬을 위한 속성 */
    list-style: none; /* 리스트 속성에 대해 아무런 스타일도 사용하지 않음 (*list_s_none)*/
    margin-left: 200px; /* 로고와 메뉴사이 여백 */
    /* position: relative; */
    /* 이건 왜 필요한거지? 일반적으로 z-index를 사용하려면 position: relative;가 필요함. 아마 flex떄문에 position이 없어도 되는걸로 추정.*/
    z-index: 1; /* 슬라이드보다 위에 올리기 위해 필요함. */
}
header ul a{ /* main+sub menu 텍스트에 적용됨 */
    display: block; /* header안에 ul에 있는 모든 a를 블록요소로 변경(세로정렬) */
    text-decoration: none; /* a 속성에 대해 아무런 스타일도 사용하지 않음 */
    text-align: center;
    line-height: 180%;
}
header ul li{ 
    flex: 1; /* header안에 ul에 있는 모든 li를 일정한 간격(flex 1;)으로 설정*/
    font-weight: bold; /* main+sub menu 공통요소*/
}
/* ㅡㅡㅡㅡ main+sub menu (메인메뉴/서브메뉴 영역) ㅡㅡㅡㅡ */
.mainmenu{
    padding: 10px; /* 내부여백 */
    font-size: 1.1rem;
}
.mainmenu:hover{
    background-color: #350e28;
    color: #ffffff;
}
.submenu {
    background-color: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    transition: all 700ms; /* 모든 속성에 관하여 천천히 움직이도록 설정. (*~) */
    height: 0; /* 안보였다가 보여야함으로 0으로 설정. */
    overflow: hidden; /* 흘러넘치는 부분(submenu>a)이 안보이게 */
}
/* 메인메뉴 전체영역에 마우스를 올리면 자손인 서브메뉴가 내려온다 */
/* li는 부모이고 a(mainmenu)와 nav(submenu)는 형제. 따라서 형제임을 명시하는 선택자가 필요함.
    +는 a+nav일때만 가능(a+div+nav)는 불가능함. ~는 모두를 뜻하며 (a+div+nav)와 (a+nav)가능
    * ~는 서브메뉴가 한칸씩 내려오므로' '(공백)을 사용하며 자손을 선택해 모든 서브메뉴가 한번에 내려오도록 설정함* */
header ul:hover .submenu{
    height: 150px; /* auto는 transition이 작동하지 않음으로 픽셀의 값이 필요함. */
    padding: 10px 0; /* submenu에 넣었으나 글자가 보이고 그림자가 남아 보이는 이슈로 인하여 마우스가 올라갔을때쪽으로 속성을 옮김 */
}
.submenu a{
    color: #4b7b3d;
    padding: 2px 0; /* 글자끼리 너무 붙어있는것처럼 보여서 내부에 여백을 주었음 */
}
.submenu a:hover{
    background-color: #4b7b3d;
    color: #ffffff;
}


/* ㅡㅡㅡㅡ div #slidearea (슬라이드 영역)ㅡㅡㅡㅡ */
/* 위쪽 방향으로 이동하는 슬라이드를 만들예정 */
#slidearea{ /* 이미지가 보이는 영역 */
    height: 300px;
    width: 100%;
    overflow: hidden; /* 흘러넘치는 부분(#slide>section)이 안보이게 */
}
#slide{ /* 슬라이드 하는 이미지(여기서는 3개)가 담겨있는 영역*/
    position: relative; /* 움직여야하기 때문에 기준점이 필요함. */
    top: 0; /* 첫번째 이미지를 보여주기 위해 고정함.*/
}
#slide>section{
    position: relative; /* h2의 위치를 잡기위한 기준점.*/
}
#slide h2{
    position: absolute; /* 이미지 위의 중앙을 가로지르기 위한 설정*/
    width: 100%; /* 이미지의 가로만 큼 꽉 채워야됨. */
    top: 40%; /* 중앙으로 위치하기 위한 설정. */
    /* transform: translateY(50%); */
    padding: 20px; /* 글자 여백 */
    background-color: rgba(255, 255, 255, 0.85); /*구글 가이드에 의하면 글자가 있는 배경에 한해서 투명도 0.75 이상을 권고*/
    text-align: center; /* 글자 가운데 정렬 */
}
#slide img{
    display: block; /* 이미지간에 빈 여백을 지우기 위한 속성*/
    width: 100%;
    height: 300px; /* 100%를 쓰려고 했더니 높이가 조금 처서 슬라이드시 display오류가 발생함.*/
}


/* ㅡㅡㅡㅡ main ㅡㅡㅡㅡ (메인 영역) */
/* (공지사함 + 갤러리) / 베너 / 바로가기 */
main{
    height: 200px;
    display: flex;
    /* padding-top: 30px; */
    padding: 30px 0;
}
main img{
    display: block;
    width: 100%;
}
main a{
    text-decoration: none;
}
/* 공지사항 + 갤러리 */
#notigall{
    flex: 1.2;
    margin-right: 70px; /* 베너와의 여백*/
    position: relative; /* 겹쳐지는 두 객체의 기준점.*/
    font-size: 0.8rem;
}
#notigall h2{
    display: inline-block; /* 공지사항+갤러리 글자를 한줄로 넣음.*/
    border: 1px solid #999999;
    border-bottom: 0; /* 밑의 줄을 지우기 위함. */
    background-color: #dddddd;
    padding: 2px 10px 0; /*top bottom (left/right) */
    border-top-left-radius: 8px; /* 위의 모서리 테두리를 둥글게 만듬 (*t_r) */
    border-top-right-radius: 8px; /* (*t_r) */
    position: relative;
    z-index: 1;
}

/* #notigall .hit{
    background-color: #ffffff;
} */
#notigall h2.hit {
    background-color: #ffffff;
}


#notice{ /* 공지사항 */
    background-color: rgba(255, 255, 255, 0.5); 
    position: absolute; /* 갤러리와 겹쳐져야하기 때문에 넣음 (*po_n_g)*/
    width: 100%;
}
#notice ol{ /* 공지사항 리스트 */
    list-style: none; /* (*list_s_none) */
    line-height: 180%; /* 줄간격 */
    border-top: 1px solid #999999; /* 상단 테두리*/
    padding: 5px; /* 너무 먼 글자끼리 좀 붙임 */
}
#notice span{ /* 공지사항 날짜 */
   float: right; /* 날짜를 오른쪽 맞춤 */
}
#notice li a:hover{
    text-decoration: underline; /* 없앴던 밑줄을 보이게 설정.*/
    color: #4b7b3d;
}

#gallery{ /* 갤러리 */
    /* background-color: rgba(255, 255, 255, 0.5); */
    position: absolute; /* 공지사항과 겹쳐져야하기 때문에 넣음 (*po_n_g) */
    width: 100%;
}
#gallery h2{
    margin-left: 99px; /* 공지사항 글씨와 거리를 두기위한 여핵*/
}
#gallery div{ /* 갤러리 안에 그림 영역 */
    display: flex;
    justify-content: center /* 수평중앙 맞춤*/;
    display: none;
    border-top: 1px solid #999999; /* 상단 테두리*/

}
#gallery div a{
    margin: 7px 0;
    padding: 10px;
}



/* 베너 */
#benner{
    /* border: 2px solid greenyellow; */
    flex: 1;
    margin-right: 70px; /* 바로가기와의 여백*/
    overflow: hidden; /* 흘러넘치는 부분(#benner>img)이 안보이게 */
    /* margin-top: 50px; */

}
#benner h2,#quick h2{ /* 필요없는(보일 필요가 없는)글자를 지움 */
    display: none;
}
/* 바로가기 */
#quick{
    /* border: 2px solid deeppink; */
    flex: 1;
    overflow: hidden; /* 흘러넘치는 부분(#quick>img)이 안보이게 */
}

/* ㅡㅡㅡㅡ 팝업 ㅡㅡㅡㅡ */
#black{
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 제일 앞(1)인경우 다른게 클릭이 아예 안됨.*/
    opacity: 0;
    transition: opacity 700ms;
}
#black.show{
    opacity: 1;
    z-index: 1; /* 제일 앞(1)인경우 다른게 클릭이 아예 안됨.*/
}
#popup{
    background-color: #ffffff;
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    /* margin:  */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 180%;
}
#popup h3{
    padding-bottom: 15px;
}
#popup button{
    float: right;
    padding: 5px;
    margin-top: 30px;
}

footer{
    background-color:grey;
    height: 100px;
}








/* *{
    margin: auto;
    padding: auto;
}

#layout{
    max-width: 400px;
    margin: auto;   
}
#layout h2{
    display: inline;
}
#layout h2 a{
    padding: 3%;
    margin: 3%;
    color: #000000;
    text-decoration: none;
}
#notice>ol{
    list-style-position: inside;
    padding: 0;
}
.content{
    position: relative;
    height: 200px;
    margin-top: 2%;
}
#notice{
    z-index: 1;
}
#notice, #gallrey{
    border: 2px solid;
    height: 80%;
    width: 100%;
    margin-top: 2%;
    position: absolute;
    background-color: #ffffff;
}
#gallrey img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2:first-of-type{
    background-color: rgb(128, 128, 128);
}
h2:last-of-type{
    background-color: #ffffff;
} */

/* 선택(target)된것을 맨위로 보이게 만든다 */
/* div:target{
    z-index: 1;
} */