@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
#layout{
    max-width: 600px;
    margin: auto;
    border: 3px solid;
    position: relative;
    overflow: hidden;
}
/* header{
    text-align: right;
    padding: 20px;
    position: relative;
}
header button.material-symbols-outlined{
    border: none;
    background: none;
    font-size: 2rem;
    margin-bottom: 10px;
}
header nav{
    background-color: rgba(0, 0, 0, 0.8);
    height: 0;
    height: 100vh;
    padding: 50px;

    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 700ms;
}
header button:hover + nav{
    height: 100vh;
    padding: 50px;
}
header nav a{
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 180%;
    padding: 50px;
} */

/* -------------- */
iframe#header{
    width: 100%;
    height: 100px;
    position: absolute;
    transition: all 700ms;
}
iframe#header:hover{
    
    height: 600px;
}

/* -------------- */
main{
    text-align: center;
}
#index main img{
    width: 100vh;
    /* object-fit: cover; */
}
#about main img{
    object-fit: scale-down;
}

footer{
    background-color: black;
    padding: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer nav a{
    color: white;
    margin: auto;
    padding: 10px;
}
