@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
h1{
    display: none;
}
#layout{
    margin: auto;
    width: 740px;
    height: 1100px;
    background-color: #1ea7ad;
    overflow: hidden;
}
img{
    display: block;
    position: absolute;
}

/* ㅡㅡㅡㅡㅡheaderㅡㅡㅡㅡㅡ */
header{
    position: relative;
    height: 50%;
}
[alt="쌤"]{
    top: 10%;
    right: -2%;
    width: 55%;
    z-index: 1;
}
[alt="말풍선"]{
    top: 0;
    right: 0;
    z-index: 0;
    animation:  toleft 2000ms both infinite alternate;
}
#im{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 2% 4% 0 0;
    font-size: 1.5rem;
    color: darkolivegreen;
    font-weight: bold;
    animation:  toleft 2000ms both infinite alternate;
}
[alt*="상단별"]{
    z-index: 1;
    animation:  flicker 1000ms both infinite;
}[alt="상단별1"]{
    top: 13%;
    left: 8%
}[alt="상단별2"]{
    top: 28%;
    left: 1%;
    width: 3.8%;
}[alt="상단별3"]{
    top: 40%;
    right: 30%;
    width: 8%;
}
.student{
    position: absolute;
    top: 4%;
    left: 20%;
    font-size: 2.5rem;
}
#gkr{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #cdfc54;
}
.orbit{
    font-size: 2.5rem;
    font-family: "Orbit", sans-serif;
    font-weight: bold;
    color: #e0fea4;
}
.sele{
    position: absolute;
    top: 20%;
    left: 6%;
    font-size: 7.3rem;
    font-family: "Orbit", sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    line-height: 120%;
}
.threeblock{
    position: absolute;
    top: 70%;
    left: 8%;
    height: 30%;
    width: 70%;
    display: flex;
    z-index: 1;
    align-items: center;
}
#intowblock{
    flex: 0.5;
    position: relative;
}
#three{
    font-size: 2.3rem;
    font-family: "Orbit", sans-serif;
    color: #000000;
    font-weight: bold;
    height: 15%;
    text-align: center;
}
.three+div{
    height: auto
}
[alt="아래화살표"]{
    width: 60%;
    right: 0;
}
#price{
    flex: 1.6;
    font-size: 7rem;
    font-family: "Orbit", sans-serif;
    color: #c6ff50;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}
#price> span{
    font-size: 4rem;
    color: #000000;
    text-shadow: none;
}
span:not(price){
    color: #c6ff50;
}


/* ㅡㅡㅡㅡㅡmainㅡㅡㅡㅡㅡ */
main{
    position: relative;
    height: 30%;
}
.ribbon>img{
    width: 95%;
    height: 30%;
    top: 0%;
    left: 3%;
    z-index: 1;
}
#may{
    position: absolute;
    top: 12%;
    left: 30%;
    z-index: 1;
    margin: auto;
    font-size: 2rem;
    color: darkolivegreen;
    font-weight: bold;
}

.cover{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 35%;
    background-color: #0e7890;
    box-shadow: 2px 2px 2px #000000;

    z-index: 0;
    padding-top: 10%;
}
.back{
    position: absolute;
    top: 12%;
    height: 60%;
    width: 100%;
    z-index: 0;
    display: flex;
}
.back>div{
    z-index: 1;
    padding-top: 6%;
    width: 100%;
    position: absolute;
    align-items: center;
    left: 5%;
    display: flex;
}
.qnrk{ text-decoration: none;
    position:absolute;
    top: 75%;
    margin: 2% 0 0 4%;
    color: #6feafa;
    font-size: 0.87rem;
}
#one1{
    font-family: "Orbit", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    flex: 1;
}
#one2{
    flex: 0.2;
    padding-bottom: 3%;
}
#one3{
    font-family: "Orbit", sans-serif;
    color: #c6ff50;
    font-weight: bold;
    font-size: 3.5rem;
    flex: 1;
}
#rnrk{
    left: 15%;
    font-size: 0.8rem;
}
#list{
    position: absolute;
    top: 75%;
    left: 15%;
    font-weight: bold;
    color: #000000;
}
#list> span{
    
    text-shadow: none;
}
.blue{
    color: #280c68;
}
span:not(blue){
    color: #c6ff50;
}
.light{
    font-style: normal;
    font-weight: lighter;
    color:#000000;
    padding-left: 15% ;
}
span:not(light){
    color: #c6ff50;
}

/* footer */
footer{
    height: 20%;
    background-color: #313d49;
    font-family: "Orbit", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.more{
    color: #c6ff50;
    font-size: 2rem;
    letter-spacing: -2px;
    padding-top: 1%;
    position: relative;
}
.more span{
    color: #ffffff;
    text-decoration: underline #c6ff50 solid;
}
.more>img{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 31%;
    animation:  flicker 1000ms 500ms both infinite;
}
#Go{
    display: flex;
    margin: 2%;
    padding-bottom: 2%;
}
.go{
    flex: 1;
}
[class="go"]:nth-of-type(1){
    animation: up 5000ms 500ms both infinite linear;
}
[class="go"]:nth-of-type(2){
    animation: up 5000ms 1500ms both infinite linear;
}
[class="go"]:nth-of-type(3){
    animation: up 5000ms 2500ms both infinite linear;
    /* animation: s 2500ms 1500ms both infinite alternate */

}
.none{
    color: #ffffff;
    font-weight: lighter;
}
span:not(none){
    color: #c6ff50;
}
.f_header{
    background-color: #283442;
    color: #c6ff50;
    font-family: "Orbit", sans-serif;
    font-weight: bold;
    width: 80%;
    margin: auto auto 2% auto;
    padding: 2%;
}
button{
    width: 44%;
    background-color: #c6ff50;
    padding: 0 4% 1% 2%;
    margin-top: 2%;
    font-family: "Orbit", sans-serif;
    font-weight: bold;
    position: relative;
    align-items: center;
    font-size: 1rem;
}
button>img{
    position: absolute;
    top: 18%;
    right: 4%;
}



/* ㅡㅡㅡㅡㅡ애니메이션ㅡㅡㅡㅡㅡ */

@keyframes flicker{ /*깜빡임.*/
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@keyframes toleft{ /*오른쪽에서 나타나기*/
    from{   right: -30%; opacity: (0);  }
    to{  right: 0; opacity: (1); }
}
@keyframes up{ /*밑에서 위로 올라오기*/
    0%{   transform: translateY(120%);   }
    20%{   transform: translateY(-12%);   }
    40%{   transform: translateY(15%);   }
    60%{   transform: translateY(-10%);   }
    80%{   transform: translateY(30%);   }
    100%{   transform: translateY(120%);   }
/* @keyframes s{//효민언니코드 백업
    from{
        transform-origin: left center; 
        왼쪽 끝을 중심으로 설정합니다.
  transform: scaleX(1.5);
   요소를 1.5배 확대합니다.
    }
    to{
  transform: scaleX(1); 
  요소를 1.5배 확대합니다.
        
    }*/
} 
