/* a{
    text-decoration: none;
    color: #000000;
    display: block;
}
header li:hover .drop{
    height: 150px;
    padding: 10px 0;
}
ul{
    list-style: none;
}
.drop{
    background-color: rgba(255, 0, 0, 0.85);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0;
    display: none;
    height: 0px;
    overflow: hidden;
 }
 ul{
    display: flex;
 }

li{
    flex: 1;
} */

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block; /*width라서 여백에도 클릭이 됨 inline_block은 안먹*/
    text-decoration: none;
    color: #000000;
}

#layout{
    margin:auto;
    max-width: 800px;
    /* border: 2px solid; */
    height: 50vh;
}
#logo{
    /*display: inline-block; 쓰면 margin: auto는 안먹음
    환경 조성 필요 (block/width가 작아야 됨(밖 여백 존재해야함)*/
    margin: auto;
    width: 180px;
}
ul{
    list-style: none;
    display: flex;
    text-align: center;
}
li{
    flex: 1;
    /* border: 2px solid #ff0000; */
}
li:hover .mm{ /*li가 호버되면 mm에 대하야*/
    background-color: orange;
}
li:hover nav{
    background-color: yellow;
    height: 200px;
    transition:  500ms;
}


li nav{/*하위 메뉴 안보이게*/
    height: 0;
    overflow: hidden;
}


.mm{
    background-color: pink;
    padding: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}
nav{
    /* background-color: gold; */
    height: 200px;
    padding: 5px;
}
nav>a{
    padding: 8px;
}
nav>a:hover{
    background-color: green;
    padding: 8px;
}
