* {
	margin:0; padding:0; box-sizing:border-box;
}
html,body {
	font:10pt/180% "나눔고딕","맑은 고딕","돋움";
	color:#222328; 
}
img {
	display:block; max-width:100%;
}
a {
	text-decoration:none;
	color:#222328;
}

#layout {
	width:1000px; height:650px;
	display:flex;
}

/*왼쪽(로고+메뉴)*/
#left {
	flex-basis:200px;
}

/*왼쪽상단 로고*/
#logo {
	display:block; padding:20px 0;
}

/*오른쪽(슬라이드+메인+하단)*/
#right {
	flex-basis:800px;
}

/*메인메뉴(주메뉴)*/
ul li{
	margin-bottom:1px;	
}
.mainMenu {
	display:block;
	background:#514dbc;
	color:white;
	font-size:1.1rem;
	font-weight:bold;
	padding:8px 30px;	
}
/*메인메뉴(주메뉴)-- 호버 활성화*/
.mainMenu:hover{
	background:#b62222;
	color:white;
}

/*하위메뉴*/
.subMenu {
	background:#c7c6ec;
	display:none;
}
.subMenu a{
	display:block;
	padding:5px 30px;
}
/*하위메뉴 -- 호버 활성화*/
.subMenu a:hover {
	background:#e98e0a;
	color:white;
}



/*슬라이드*/
#slide{
	position:relative; height:350px;
}
#slide a{
	position:absolute;/*이미지들어 거꾸로보인다 (3/2/1)*/
}
#slide a img {
	width:100%;
}


/*메인 (공지사항+갤러리 / 배너/ 바로가기)*/
main {	 
	 height:200px; display:flex;
	 padding-top:20px;
}

/***********/
/*공지사항+갤러리*/
#noti_gel {
	flex:1.5; position:relative;
	padding-right:40px;
}
/*제목버튼 아래 가로줄*/
#noti_gel hr {
	width:100%; height:1.3pt;
	background:#514dbc;
	border:none;
	position:relative; z-index:1;
}

/**************/
h2 {
	display:inline-block;
	background:#ddd;
	border:1px solid #666;
	border-bottom:none;
	padding:1px 6px 0px 6px;	
	/*padding:2px 6px;*/
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	transform:translateY(3px);
}
h2 button {
	color:#666;
}
h2.active {
	background:#c7c6ec;
	border:1px solid #514dbc;
	border-bottom:none;
	padding:2px 6px 2px 6px;
	transform:translateY(0px);
}
h2.active button {
	color:black; 
}
/**************/

/*공지사항*/
#notice {
	position:relative;	
}

#notice h2 {
	position:relative; z-index:1; /*위로올려서 클릭이 가능하게 된다*/
}
#notice h2 button {
	background:none;
	border:none;
}

#notice ul {
	list-style-position:inside;	padding-top:10px;
	padding-left:5px;
	line-height:200%;
}
#notice li span {
	float:right;
}
#notice a:hover {
	text-decoration:underline;
	color:#514dbc;
}

/****************/
/*공지시항  -- 팝업*/
#popup {
	position:fixed;  z-index:1;/*공지사항 제목보다 위층으로 올라온다*/
	background:white;
	box-shadow:3px 3px 6px rgba(0,0,0, 0.7);
	width:500px; height:370px;
	top:100px; left:300px;
	list-style:none;
	border-radius:10px;
	padding:30px;      display:none;
}
#popup h3 {
	padding-bottom:10px;
}
#popup button {
	float:right; margin-top:170px;
}


/*갤러리*/
#gallery {
	position:absolute;  
	width:90%; top:0;
}
#gallery h2 {
	margin-left:68px;
}
#gallery h2 button {
	background:none;
	border:none;
}
#gallery>div{
	display:none;
	padding-left:5px;
	padding-top:13px;
}
#gallery>div>div {
	display:flex;  
}
#gallery div a{
	margin:5px;
}


/*****************/
/*배너*/
#banner {
	flex:1; padding-right:30px; padding-top:30px;
}
#banner h2 {display:none;}
#banner img {border-radius:5px;}


/*바로가기*/
#quick {flex:1; padding-top:30px;}
#quick h2 {display:none;}
#quick img {border-radius:5px;}


/*하단*/
footer {
	height:100px; display:flex; /*align-items:center;*/
	border:2px solid #ccc;	
}
footer> a {flex:1; align-self:center;}
footer> a img {margin:auto;}
footer> div {flex:2; border-left:2px dashed #ccc;}
footer> div a {padding:7px;}
footer> div a:hover {
	text-decoration:underline;color:black;
}
footer nav {
	height:50px; 
	padding-left:20px; padding-top:12px;
}
footer p  {
	border-top:2px dashed #ccc; 
	height:50px; 
	padding-left:20px; padding-top:11px;
}