@charset "utp-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
margin-top: 50px;
}
#layout {
max-width: 1000px; margin: auto;
position: relative;
/* border: 5px solid red; */
}
h1 {display: none;}

header {
display: flex; /*제일 큰 자식의 높이만큼 나머지가 맞춰짐*/
align-items: flex-start; /*높이값이 돌아가고 정렬이 위부터 시작*/
position: absolute;
width: 100%;
z-index: 2;
}
#logo {
flex: 2;
margin-right: 5%;
}
#logo img {display: block; width: 100%;}
nav {
background-color: gold;
flex: 5;
display: flex;
flex-direction: column;
margin-top: 5%;
line-height: 250%;
text-align: center;
height: 0;    /*205px*/
overflow: hidden;
transition: height 0.5s;
}
button.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 600,
'GRAD' 0,
'opsz' 24 /*인터넷으로 그림 그리는 svg라는 방법을 이용*/;
margin-left: 2%;
}

/***********슬라이드 부분************/
#slideArea {
    position: absolute;
    overflow: hidden;
    margin-top: 15%;
}
h2 {
    position: absolute;
    padding: 3% 8%;
    font-size: 0.9rem;
    background-color: rgba(225, 225, 225, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 1;
/* top: 50%; left: 50%;
transform: translate(-50%, -50%); */
}
#slide {
    /* width: 300%; */
    display: flex;
    position: relative;
    left: 0;              /*left 0이 없으면 처음 부분이 transition적용이 안됨*/
    margin-top: 10%;
}
#slide img {
    width: 100%;
}
/*red dat*/
#circle{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}
#circle div{
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #000000;
    border-radius: 50%;
}
#circle div.red{
    background-color: #ff0000;
}

/***********큰 기계장치에서 적용(최소넓이1024px)************/
@media (min-width:1024px) {
#logo {
    flex: 1;
}
header {align-items: center;}
nav {
    flex-direction: row;
    margin-top: 0;
    height: auto;
}
nav a {
    flex: 1;
}
button.material-symbols-outlined {
    display: none;
}
h2{
    padding: 50px 100px;
    font-size: 1.2rem;
}
#slideArea {
    margin-top: 6%;
}
}