@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#layout{
    max-width: 80vh;
    border: 1px solid;
    margin: auto;
    overflow: hidden;

}
h1{
    display: none;
}
img{
    display: block;
    width: 100%;
}
/* ㅡㅡㅡㅡㅡheaderㅡㅡㅡㅡㅡ */
header{
    display: flex;
    align-items: center;
}
#logo{
    flex: 1;
}
header>nav{
    flex: 5;
    display: flex;
}
nav>a{
    flex: 1;
    /* background-color: aquamarine; */
}

button.material-symbols-outlined{
    display: none;
}

#slidearea{
    position: relative;
    /* width: 100%; */
}
h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    z-index: 1;
}
#slide{
    /* width: 100%; */
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    left: 0;/*이걸로 슬라이드를 핸들링함*/

}

.circle{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.circle>div{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0.3rem;
    box-shadow: 0 0 10px #000000;
}
.circle>div.red{
    background-color: red;
}