@charset "utf-8";

/* 주색 efece5 = 배경을 비롯한 모든색.
보조색1 e5d2b0 = 활성화 색. 주색보다 조금 진함
보조색2 c2acㅇㅎ86 = 메뉴바 활성화 컬러.
글자색 1e3545
글자색보다 조금 연한 색 8aa1a6
 */
*{
    color: #1e3545;
    margin: 0;
    padding: 0;
}
body{
    background-color: #efece5;
}
a{
    text-decoration: none;
    display: block;
    font-size: 1.4em;
}

/* 공용클래스 영역 */
.center{
    text-align: center;
}
.margin{
    margin: 5%;
}
.none{
    display: none;
}

#layout{
    display: flex;
}
/* ㅡㅡㅡㅡㅡ 헤더(header)ㅡㅡㅡㅡㅡ */
#fixed_header{
    width:20%;
}
#main{
    height: 100vh;
}

/* ㅡㅡㅡㅡㅡ 사이드 (상단) ㅡㅡㅡㅡㅡ */
#side{
    max-height: 5%;
    margin-left: calc(20vw + 10px)
}
/* ㅡㅡㅡㅡㅡ 메인(main) ㅡㅡㅡㅡㅡ */
#content{
    max-width: 80vw;
    height: 90%;
}
.mwh_100{
    max-width: 100%;
    max-height: 100%;
    margin: 2%;
}

#footer{
    position: fixed;
    max-height: 10%;
    bottom: -5%;
    left: 1%;
 
 }






@media all and (min-width:360px) and (max-width:420px) {
    #fixed_header{
        width:0;
    }
    #main{
        height: 100vh;
        /* display: block; */
    }
    
    /* ㅡㅡㅡㅡㅡ 사이드 (상단) ㅡㅡㅡㅡㅡ */
    #side{
        max-width: 60vw;
        max-height: 5vh;
        /* max-height: 5%; */
        /* margin-left: calc(50vw + 10px) */
    }
    /* ㅡㅡㅡㅡㅡ 메인(main) ㅡㅡㅡㅡㅡ */
    #content{
        max-width: 100vw;
        max-height: 95vh;
    }
    /* .mwh_100{
        max-width: 100%;
        max-height: 100%;
        margin: 2%;
    } */
    
    #footer{
        position: fixed;
        max-height: 10%;
        bottom: -5%;
        left: 1%;
     
     }

}