@charset "utf-8";

/* 스크롤바의 두깨를 설정함. 크롬은 webkit */
/* ::-webkit-scrollbar{ 
    width: 0px;
}  */
html{
    scroll-behavior: smooth;
}
#layout{
    max-width: 800px;
    margin: auto;
    border: 2px solid;
    height: 400vh;
    position: relative;
    overflow: hidden;
}
#posY{
    text-align: center;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    z-index: 1;
    transform: translateX(100%);
}
#slide{
    position: relative;
    top: 200px;
}
#slide h2{
    display: none;
}
#slide img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1000ms;
}
#slide img:first-of-type{
    position: relative;
    opacity: 1;
}

#p1{
    position: relative;
    padding: 20px;
    margin-top: 500px;
    background-color: blueviolet;
    transition: all 1000ms;
    transform: translateX(-100%);
}
#up{
    padding: 10px 20px;
    background-color: cadetblue;
    position: fixed;
    right: 20px;
    bottom: 20px;
}