*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    text-align: center;
}
h1{    display: none;   }
body *{    border: 2px solid black;    }
body>div{
    max-width: 600px;
    max-height: 800px;
}
header{
    display: flex;
    padding: 10px;
}
header>a{    flex: 1;   }
nav{
    flex: 3;
    justify-content: space-around;
    display: flex;
}
nav a{    padding: 5px 10px     }
nav a:nth-last-of-type(2){
    background-color: aqua;
    transform: translateX(-50px);
}
nav a:nth-last-of-type(2):hover{
    background-color: red;
    font-weight: bold;
    transform: scale(1.2) translateX(-50px);
}

main{    height: 70vh   }
main *{    transition: 2000ms; }
main *:hover{
    transform: rotate(-15deg);
    background-color: gold;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);

}
main, footer{    display: flex;     }
main *, footer p{    flex: 1;    }

footer{
    padding: 10px;
    transition: 2000ms;
    justify-content: space-around;
}
footer>p{
    background-color: blueviolet;
    transition: 2000ms;
}
footer>p:first-of-type:hover{
    transform: translateX(60%);
    background-color: rgba(255,255,255, 0.6);
}

