*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    max-width: 400px;
    height: 500px;
    margin: auto;
    /*border: 5px solid #ff0000;--영역 확인용이라 지움*/
    position: relative; /*자기기준으로 배치(중심)*/
    overflow: hidden;/*밖의 이미지가 영역 밖에서 보이지 않게 설정함*/
}
img{
    width: 100%;
}
img:not(:first-of-type){/*이미지가 공통 옵션이라*/
    position: absolute;/*부모div의 기준으로 배치(relative)를 기준으로 함.*/
    left: 0; top: 0;
}
[src="images/1-1.png"]/*속성을 활용한 선택자 [속성] 형식*/{
    animation: show 1000ms 500ms both;/*1000m=나타나는 시간, 500ms= 대기시간*/
    /*손과 식물*/         
}
[src="images/1-2.png"]{
    animation: down 2000ms 800ms both;
    /*손과 솔잎*/
}
[src="images/1-3.png"]{
    animation: big 1000ms 1200ms both;
    /*글자*/         
}
[src="images/1-4.png"]{
    animation: toleft 1000ms 1500ms both;
    /*차*/
}
[src="images/1-5.png"]{
    animation: show 1000ms 1800ms both;
    /*장식*/         
}

/*애니메이션*/
@keyframes show { /*나타나기*/
    from{ opacity: 0; }
    to{ opacity: 1; }
}
@keyframes down { /*내려오기*/
    from{ top: -150px; opacity: 0; }
    to{ top:0; opacity: 1 }
}
@keyframes big { /*커지기*/
    from{ transform: scaleX(0); }/*X/Y별도로 사용가능.*/
    to{ transform: scaleX(1); }
}
@keyframes toleft { /*오른쪽에서 왼쪽으로 이동*/
    from{ left: 200px; opacity: 0; }
    to{ left: 0; opacity: 1; }
}