*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: none;
}
section{
    max-width: 600px;
    margin: auto;
    border: 5px solid #ff0000;
    position: relative;
    overflow: hidden;
}
img{
    width: 100%;
    display: block;
}
img:not(:first-of-type){
    position: absolute;
    top: 0;
    left: 0;
}
img:nth-of-type(2){/*해당형식(타입)이 몇번째인가 ()안에 있는게 순서.*/
    animation: up 1500ms both;
}
img:nth-of-type(3){
    animation: toright 1500ms 500ms both;
}
img:nth-of-type(4){
    animation: zigzag 5000ms 500ms both infinite alternate;/*infinite 무한반복*/
}
img:nth-of-type(5){/*시계*/
    animation: rotate 3000ms 1500ms both infinite alternate;
}
img:last-of-type{
    animation: zz 2000ms both infinite alternate;/*alternate 정방향 후 역방향 진행.*/
}

@keyframes up{
    0% { bottom: -100px; top: initial; opacity: 0; } /*from과 같음*/
    100% { bottom: 0; top: initial; opacity: 1; } /*to와 같음*/
}
@keyframes toright{
    from { left: -200px; opacity: 0; }
    to { left: 0; opacity: 1; }
    
}
@keyframes zigzag{
    0% { top: -100px; left: initial; right: -100px; transform: rotate(-20deg); }
    30% { top: -50px; left: initial; right: -70px; transform: rotate(10deg); }
    50% { top: -30px; left: initial; right: -50px; transform: rotate(-30deg); }
    70% { top: -70px; left: initial; right: -20px; transform: rotate(20deg); }
    85% { top: 50px; left: initial; right: -10px; transform: rotate(-10deg); }
    100% { top: 0px; left: initial; right: 0x;  transform: rotate(0); }
    /*100%{ top: -100px; left: initial; right: -100px; transform: rotate(-20deg); }*/
}
@keyframes rotate{
    from{ transform: rotate(300deg) scale(0); }
    to{ transform: rotate(0) scale(1); }
}
@keyframes zz{
    from{ left: 60px; }
    to{ left: -20px; }
}