body> div {border:3px solid red; margin:auto; max-width:800px;}
header {background-color: bisque;}
h1,h2,h3,p {margin: 0;}

nav {border:2px solid blue; margin:10px 0; padding:10px; text-align: center;}
nav a {padding:3px 10px 5px; border:1px solid gray; border-radius: 10px; background-color:black; text-decoration: none; color:white; font-weight: bold; transition: all 0.7s; display:inline-block;}
nav a:not(:last-child) {margin-right:10px;}
nav a:hover {background-color: azure; color:black; transform: scale(1.2); box-shadow: 0 0 5px skyblue;}

nav+div {display: flex; height:60vh; border:2px dotted tomato;}
main {flex:2;}
section {background-color: coral; height:50%;}
article {background-color: darkgoldenrod; height:50%;}
aside {background-color: burlywood; flex:1;}

footer {padding:20px; text-align: center; background-color: lightgrey;}

/* 반응형 ( 0~450픽셀 넓이부터 style이 적용됨.) */
@media(max-width:450px){
    nav a {display: block; margin-bottom: 5px; }
    nav a:not(:last-child) {margin-right:0;}
    nav+div {flex-direction: column;}
} 