@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#layout{
    margin: auto;
    max-width: 500px;
    position: relative; /* 기준점 설정 */
    margin-top: 50px;
    z-index: 1; /* 이게 내려가면 팝업이랑 꼬이게 됨(터치가 이뤄지지 않음) */
}
#layout img{
    display: block;
    max-width: 100%;
}
#layout h2{
    display: inline-block; /* 공지사항과 갤러리를 한줄로 놓기위해 필요함. */
    position: relative;
    z-index: 1; /* 이거 내려가면 공지사항과 갤러리를 누를수가 없음 두 글자들을 같은 레벨로 맞춤 */
    background-color: #dddddd;
}
#layout h2.yellow{
    background-color: yellow;
}

/* 공지사항 */
#notice ol{
    line-height: 180%;
}
#notice ol a{
    /* line-height: 180%; */
    position: relative; /* z-index를 사용하기 위해 필요함. */
    z-index: 1; /* 글자가 눌리지 않는 이슈가 발생해서 사용함, */
}
#notice li span{
    float: right;
}

/* 갤러리 */
#gallery{
    position: absolute; /* 공지사항과 겹쳐야해서 사용함. */
    top: 0;
    left: 0;
    height: 100%; /* 이거 설정안하면 영역이 쪼그라들음. */
    width: 100%; /* 위와 같은 이유 */
}
#gallery h2{
    margin-left: 100px;
}
#gallery div{
    display: none; /* div>img*3을 감싸고 있는 부모div를 보였다 안보였다 함. (*ddi3) */
}
#gallery div>div{ /* (*ddi3) 이걸로 핸들링하면 block 들어갈때 이미지가 꺠짐(가로 x, 세로정렬됨) */
    display: flex; /* 이미지 가로정렬 */
    justify-content: center; /* 중앙 맞춤 */
    margin-top: 50px; /* 이미지가 갤러리 글자와 너무 붙어서 여백을 주고자 설정함. */
}
#gallery div img{
    width: 33.33%; /* width를 설정해주지 않으면 바로위의 div의 너비를 가져와서 [ㅁㅁㅁ]의 형태가 아니라 ㅁ[ㅁ]ㅁ의 형태를 띄게 됨. */
    flex: 1; /* 동일한 너비로 설정함 */
}

/* 팝업창 */
#black{ /* 팝업시 배경에 보이는 검은색 + 팝업영역  */
    position: absolute;
    top: 0;
    width: 100%; /* 화면 꽉채우기 위함. */
    height: 100%; /* 화면 꽉채우기 위함. */
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1; /* 다른 객체층을 방해하지 않도록 제일 밑에 깔아둠*/
    opacity: 0; /* 안보였다 보여야해서 안보이게 기본설정. */
    /* display: none; */
}
#black.show{
    z-index: 1; /* 팝업이 뜰때 제일 위로 떠야함. */
    opacity: 1; /* 안보이게 설정해둔걸 보이게 만들어둠. */
}
#popup{
    background-color: #ffffff;
    width: 500px;
    margin: auto; /* 중앙으로 맞추려고(수평) 한 설정. */
    padding: 50px 50px 100px;
    margin-top: 20vh; /* 브라우저 상단에 붙지 않도록 밖같(위)쪽 여백을 줌 */
    border-radius: 30px; /* 테두리 둥글게 */
}
#popup>button{
    float: right; /* 닫기버튼을 오른쪽으로 보냄. */
    margin-top: 50px; /* 문장(p)와 간격을 두기위해 밖같(위)쪽 여백을 줌 */
}