@charset "utp-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
}
#layout{
    max-width: 1000px;
    margin: auto;
    border: 1px solid;
}
h1{
    display: none;
}
header{
    display: flex;
    align-items: flex-start;/*세로방향 정렬*/
    position: absolute;
    z-index: 1;
}
#logo{
    flex: 1;
    margin-right: 50px;
}
#logo img{
    display: block;
    width: 100%;
}
nav{
    flex: 5;
    display: flex;
    flex-direction: column;
    /* margin-top: 6%; */
    line-height: 200%;
    text-align: center;
    height: 200px;
    transition: height 700ms;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

button.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;

  margin-top: 3%;
  margin-left: 4%;
}
/* ㅡㅡㅡㅡㅡ슬라이드ㅡㅡㅡㅡㅡ */
#slidearea{
    position: relative;
    overflow: hidden;
    width: 100%;
}
h2{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    z-index: 1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

}
#slide{
    /* width: 300%; */
    /* width: 100%; */
    display: flex;
    margin-top: 10%;
    left: 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
#slide img{
    flex: 1;
    /* display: block; */
    width: 100%;
}
/* 미디어영역 큰 기계장치에서 사용됨 최소넓이 1024 이상일때 모두적용 */
@media (min-width:1024px) {
    header{
        align-items: center;
    }
    nav{
        flex-direction: row;
        margin-top: 0;
        height: auto;
    }
    nav a{
        flex: 1;
    }
    button.material-symbols-outlined{
        display: none;
    }
/* ㅡㅡㅡㅡㅡ슬라이드ㅡㅡㅡㅡㅡ */
    h2{
        padding: 30px 60px;
    }
}